*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}
.padre{
    display: flex;
    flex-flow: column nowrap;
}
/* Extra */
.margen{
    padding: 0 50px;
}

/* Código superior de la página */
    .top{
        background: url(../image/hero.png);
        background-position: center;
        background-attachment: contain;
        background-size: cover;

        display: flex;
        flex-flow: column nowrap;
    }
        /* Coso de barra-variables */
        .barra{
            background-color: rgba(0, 0, 0, 0.3);
            display: flex;
            flex-flow: row nowrap;

            border-bottom: 1px solid rgba(255, 255, 255, 0.5);

            height: 60px;

            align-items: center;
        }
            .logo{
                flex: 3 1 auto;   
            }
                .logo a{
                    color: #fff;
                    text-decoration: none;
                }
                .logo a:hover{
                    color: #EA5455;
                }

            .barra-contenido{
                flex: 2 1 auto;
                padding: 0 10px;
                letter-spacing: 2px;     
            }
                .barra-contenido a{
                    color: #fff;
                    text-decoration: none;
                }
                .barra-contenido a:hover{
                    color: #EA5455;
                }
            /* Coso de barra-principal */
        .texto-principal{
            background-color: rgba(0, 0, 0, 0.5);
            height: 580px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
            .barra-principal_1{
                color: #fff;
                text-align: center;
                      
            }
                .barra-principal_1 a:hover{
                    color: #EA5455;
                }
/* Código principal de la página */
    .mid{
        background-color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }
        .section-1{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
            .contenido{
                margin: 20px;
                text-align: center;
            }


/* Código inferio de la página */
    .bottom{
        display: flex;
        justify-content: center;
    }
        .texto-final{
            text-align: center;
        }


/* Responsivo */
@media all and(max-width:948px) {
    .mid{
        flex-direction: column;
    }
    .barra{
        flex-direction: column;
        height: auto;
    }
    .section-1{
        display: flex;
        justify-content: center;
    }
    .barra-principal_1{
        font-size: 15px;
    }
}



@media all and(max-width:600px) {
    .section-1{
        flex-direction: column;
    }
    .barra{
        flex-direction: column;
        height: auto;
    }
}

@media all and(max-width:400px) {
    .section-1{
        flex-direction: column;
    }
    .barra{
        flex-direction: column;
        height: auto;
    }
}

/* Extra */

/* Diseño de Tabla */
table{
    width: 100%;
}
th, td{
    width: 90%;
    
}
.refe{
    border: 1px solid #696767;
    text-align: left;
    border-spacing: 0;
    padding: 1px;
    border-radius: 5px;
}
th{
    background: #EA5455;
    color: #fff;
}
.th{
    border: #EA5455;
    text-align: center;
    border-radius: 10px;
}
img{
    width: 150px;
    height: 150px;
    border-radius: 50px;
}
.titulo, th, td{
    font-size: 18px;
}
.contenido:hover{
    background: #eb8787;
    border-radius: 20px;
}
.imgp{
    height: 200px;
    width: 150px;
}
